<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.blood">

    <application
        android:allowBackup="true"
        android:icon="@drawable/b"
        android:label="@string/app_name"
        android:roundIcon="@drawable/b"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".donormod"></activity>
        <activity
            android:name=".ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".viewlist" />
        <activity android:name=".donorlogin" />
        <activity android:name=".Donorname" />
        <activity android:name=".recivelist" />
        <activity android:name=".donorreg" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>